.ip{

    font-size:10px
}

.iconss{
    font-size:10px
}

@media screen and (min-width:1000px) {
    .cent{
        margin:6em;
        padding-bottom:2em
    }
    .todo{
        height:10em
    }
    

}

  @media screen and (max-width:1000px) {
    .cent{
        margin:10em;
        padding-bottom:1em;
      
    }
    .todo{
        height:auto
    }
    
}

  /* Tooltip text */
  


  .X:hover {
    cursor:pointer 
  }