/* Check out the navigation section. It's the most important part. */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@media   screen and (max-width: 768px) {
  body {
    background-color: lightblue;
  }
}


body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
   background-color: black !important;
   color:whitesmoke
}

* {
  box-sizing: border-box;
}
* {
	margin: 10;
	padding: 0;
}
.blockquote-wrapper {
  display: flex;
  margin-left:20em;
  height: 100px;
  padding: 0 20px;
}


.image {
  opacity: 1;
  -webkit-transform: scale(1.2);


  height:100px;

  transition: .5s ease;
  backface-visibility: hidden;



}

.middle {
  transition: .5s ease;
  opacity: 0;

width:220px;

  transform: translate(-1%, -30%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  border-radius:20px
}

.containerimg:hover .image {
  opacity: 1;
}

.containerimg img:hover .middle {
  opacity: 1;
}
.middle{
  opacity:1
}


.obj1:hover .image {
  opacity: 0.7;

  -webkit-transform: scale(1.1);
  border:1px solid white

}

.obj1 img:hover .middle {
  opacity: 1;
}
.middle{
  opacity:1
}


.text {
  background-color: rgba(109, 102, 102, 0.826);
  opacity: 0.9;
  color: whitesmoke;
  font-size: 20px;
  padding: 2px;

  border-radius:10px


}

.obj1{
  padding:20px
}
.containerimg {

  width: 100%;
}

/* Blockquote main style */
.blockquote {
   position: relative;
   font-family: 'Barlow Condensed', sans-serif;
   max-width: 1020px;
   margin:-400px;
   align-self: center;
}


body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
   background-color: black !important;
   color:whitesmoke
}
/* Blockquote header */
.blockquote h1 {
   font-family: 'Abril Fatface', cursive;
   position: relative; /* for pseudos */
   color:#778899;
   font-size: 2.8rem;
   font-weight: normal;
   line-height: 1;
   margin: 0;
   border: 2px solid #fff;
   border: solid 2px;
   border-radius:20px;
   padding: 27px;
}

/* Blockquote right double quotes */
.blockquote h1:after {
   content:"";
   position: absolute;
   border: 2px solid #778899;
   border-radius: 0 50px 0 0;
   width: 60px;
   height: 60px;
   bottom: -60px;
   left: 60px;
   border-bottom: none;
   border-left: none;
   z-index: 3;
}

.blockquote h1:before {
   content:"";
   position: absolute;
   width: 60px;
   border: 2px solid black;
   bottom: -3px;
   left: 60px;
   z-index: 0;
   opacity:99
}

/* increase header size after 600px */






/* Blockquote subheader */
.blockquote h4 {
   position: relative;
   color: #ffffff;
   font-size: 25px;
   font-weight: 100px;
   line-height: 1.2;
   margin: 0;
   padding-top: 19px;
   z-index: 1;
   margin-left:150px;

   padding-left:12px;
}


.blockquote h4:first-letter {
 margin-left:-12px;
}

.di
{
  height:300px;
  width:300px;
  background-color: black;
  display:center;

  font-size:30px

}

.di{
  border:1px solid whitesmoke
}

 .ico{
  background-color: hsla(255, 29%, 87%, 0.693);

}

.names{
  color:#a7aeb5;
  margin:10px;


}

 .names{
  border-bottom:2px solid #a7aeb5;
  border-top:2px solid #a7aeb5;
}
.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }
}


.greye
{
  transition: all .25s ease-in-out;
  animation-name: grey;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes grey{
  0% {   filter: grayscale(50%);
    border-radius: 5px;
    transition: all .25s ease-in-out; }
  50%  { transform: translate(0, 15px);   filter: grayscale(0%);
    border-radius: 5px;
    transition: all .25s ease-in-out;}
  100%   { transform: translate(0, -0px);  filter: grayscale(50%);
    border-radius: 5px;
    transition: all .25s ease-in-out; }
}

.containere img{
height:200px;
width:250px
}
.grid-container {
  columns: 5 200px;
  column-gap: 1.5rem;
  width: 90%;
  margin: 0 auto;
}
  .grid-contianer div {
    width: 150px;
    margin: 0 1.5rem 1.5rem 0;
    display: inline-block;
    width: 100%;
    border: solid 2px black;
    padding: 5px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    border-radius: 5px;
    transition: all .25s ease-in-out;
  }
    .container:hover img {
      filter: grayscale(0);
    }
    .container:hover {
      border-color: coral;
    }
    .grid-container img {

      filter: grayscale(50%);
      border-radius: 5px;
      transition: all .25s ease-in-out;
    }
    .grid-container p {
      margin: 5px 0;
      padding: 0;
      text-align: center;
      font-style: italic;
    }








.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

.obj1 img{

  height:200px;
  width:250px;
  border-radius:10px;
  margin:10px
}




.c1{

  margin:10px;

}

.grid{
  
  height:400px
}
.motto {
  text-align: center;
  margin: 60px auto;
  max-width: auto !important;

  font-family: 'Courier New', Courier, monospace;
}

@media screen and (max-width: 1000px){

  .motto{
    margin-left:00em;
    width:100vw;
    text-align: center;

    font-size:2px;
    height:30px;
    
  }

  .fac{
    width:0px
  }
  .blockquote-wrapper{
    margin-top:550px;
    padding-left:20vw
   
  }
  .con{margin-top:600px;

  }
  .blockquote{
    font-size:2px;
    width:100vw;
    height:auto
  }
  .disp
  {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media all and (min-width: 1000px) {
  .blockquote h1 {
      font-size: 3rem;
      line-height: 1.2;
 }
 .fac{
   width:200px;
 }

}




.col {
  flex-basis: 0;
  flex-grow: 1;

  align-items: center;
  text-align: center;
}



footer {
  background: whitesmoke;
  color: white;
  text-align: center;
  padding: 60px;
}
.rows{
  display:flex;
  justify-content: space-between;
}
#vids {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

#vids a:first-of-type {
  margin-bottom: 5px;
}

/**
* Navigation
*/
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  transition: all ease 0.6s;
  z-index: 100;
  width: 100%;
  color:white
}

span {
  font-size: 28px;
  margin-left: 10px;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.part
{
   background-color: rgba(245, 223, 223, 0.184);
   opacity: 0.6;
   backdrop-filter: blur(40px);
   border-radius:20px

}

.nav li {
  display: inline-block;
  margin-right: 15px;
}

/**
* Scrolling CSS
*/
nav.scroll {
  padding: 20px;
  background: white;
  position: fixed;
}

nav.scroll span {
  font-size: 20px;
  color: black;
}

nav.scroll li {
  color: black;
}

img.cara
{
  height:500px
}
img.prdts
{

  height:300px;
  width:230px;
  transform: rotateZ(30deg);

  transition: all ease 1s;
  margin:5px white
}
img.prdts:hover
{
  height:330px;
  width:250px;

  transform: skewX(180deg);
  box-shadow: 0px 0px 10px 10px rgba(152, 124, 183, 0.7);
}


.container
{
  width:100vw
}

@media only screen and (max-width: 1000px) {
  .container{
    margin-left: 0em;
    width :100vw
  }
  

  
}


.featured {
  background-color: antiquewhite;

}



.r1
{
  display: flex;
  justify-content:  center;
  align-items: center;
  overflow-x:visible ;


}
.iw
{
  padding:30px;
  width :500px

}

.fp:hover{

  box-shadow: 10px 10px 20px 20px rgba(84, 106, 170, 0.2);

}


img.h {
  position: absolute;

  width: 150px;
  border-radius: 100%;

  padding :20px 10px 20px 10px

}

svg {

  position: absolute;

  width: 174px;
  height: 274px;

}
path {
  stroke-dasharray: 40;
  stroke-dashoffset: 40;
  animation: dash 1s linear forwards;

  animation-iteration-count: infinite;

}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.part
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300);

body {
    font-family: 'Alegreya Sans', sans-serif;
}

/* Sticky footer position and size
-------------------------------------------------- */


.footer {


  width: 100%;
  /* Set the fixed height of the footer here */
  height: 300px;
}

/* Taller footer on small screens */
@media (max-width: 567em) {

    .footer {
      height: 300px;
    }
}


footer {
  padding-top: 30px;
  background-color: #292c2f;
  color: #bbb;
}

footer a {
  color: #999;
  text-decoration:none;
}

footer a:hover, footer a:focus {
  color: #aaa;
  text-decoration:none;
  border-bottom:1px dotted #999;
}

footer .form-control {
    background-color: #1f2022;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    color: #d1d2d2;
    padding: 0.7em 1em;
}



@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:900&display=swap');

html {
  width: 100%;
  height: 100%;
}
.body {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  background: #EEEEF5;
}
.container1{
  width:30em;
  height:auto;
  
  background-color: #292c2f;
    border:2px solid white ;
    margin:2em

  
  }
  .center {
    text-align: center;
    width: 100%;
}
.iconss
.git {
  font-size:100px ;
}
.c1 {
  width:25vw
}
.grid{
  flex-direction: row;
}
@media   screen and (min-width: 1000px) {
  .iconss{
    height:30vh  }
    .services part{
      left:200px
    }
    .services {

      text-align: center;
      margin: 60px auto;
      max-width: 800px;
      height:200px
    }
.grid-2 img{
  width:50vw
}
   
}
@media   screen and (max-width: 1000px) {

.services{
  height:100vh;
  background-color: #1f2022;
  width:30vw;
  margin:0px
}
.services part{
  left:0px
}
.lol
{
  width:0px
}
.facultyn{
  top:0px;
  margin:0px
}.grid-1{
  padding:0px
}
  .c1 {
   width: 55vw
  }
   .container1{

    width:100vw;
    margin-left:0em
   }
   .grid-1{
    flex-direction:column
   }

.iconss{
 height:10vh;



}
.fac{
  margin-left:0px;
  padding-top:20px
}
.grid{
  flex-direction:column;
  height:auto
}

.round{
  margin-left:20px
}
  .body {
    width: 100vw;
    height: 13vh;
    margin-left:0em;
  }

  .div{
    margin-left:0em;
    border-top:2px solid white;
    border-bottom:2px solid white
  }
  .di{

    margin:0px;
    width:500px
  }
  .iconss .git{
    font-size:50px
  }
 



.c1 .g1{
  width:300px;
  height:auto;
}
.c1 .g2{
  width:300px;
  height:auto;
}
.c1{
  width:300px
  ;  height:auto;
}
.spac{
  margin-bottom:15em
}
.grid-2 img{
  height:100vh;
  width:100vw
  
  
}
.grid
{
  margin-left:0px
}
}


.black-lives-matter {
  font-size: 8vw;
  line-height: 8vw;
  margin: 0;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 900;
  background: url('./p3.png');
  background-size: 40%;
  background-position: 50% 50%;
  -webkit-background-clip: text;
  color: rgba(0,0,0,0.08);
  animation: zoomout 10s infinite ease  500ms forwards;
  animation-iteration-count: infinte;
}

@keyframes zoomout {
  from {
    background-size: 40%;
  }
  to {
    background-size: 10%;
  }
}







.float-area{
  height:100vh;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}

.floating-img{
  transform: translateY(-10%);
  animation: floater 3.5s infinite;
  transition: ease 0.5s;
  width: 80px;
  height:80px;
}



@keyframes floater {
  0%{transform: translateY(-10%);transition: ease 0.5s;}
  50%{transform: translateY(10%);transition: ease 0.5s;}
}




