
  
  /* The progress container (grey background) */
  .progress-container {
    width: 100%;
    height: 10px;
    background:  cadetblue;
    position: fixed;
    z-index:99
  }
  
  /* The progress bar (scroll indicator) */
  .progress-bar {
    height: 10px;
    background:whitesmoke;
    width: 0%;
    z-index:99


  }

  .nav  :hover{
    cursor: pointer;
  }


  .f{
    position: fixed;
  }

  nav{
    background-color: aliceblue;
    top:10px;
    height:60px
  }
  .nav li{
    color:black;
    padding-right:10px;
    transition: 1000 all ease-in-out;
  }
  .nav li:hover {
border-top:3px solid burlywood;
border-bottom:3px solid burlywood
  }


  .nav li{
    font-size: 20px;
    font-weight:bold
  }