
.content{
  background-color:  rgba(50, 91, 187, 0.251);
  border-radius:10px;
  padding:10px
}
.containerrr img{
  border:2px solid violet;
  height:40px;
  width:40px;
  border-radius:60px

}
.conta{

  padding:40px;
  height:auto
}
.containerrr{
  color:rgb(133, 174, 197);
 
}



@media screen and (max-width:1000px){
.top-section center{
  margin-top:3em
}
}

@media screen and (min-width:1000px){
  .section{


    padding:10px;
    height:auto;
    width:auto;
   
    transition:1000ms all ease ;
  
     border-radius: 10px;
  
  }
  
}