.section{


  padding:10px;
  height:150px;
  width:400px;
 
  transition:1000ms all ease ;

   border-radius: 10px;

}

.content{
  background-color:  rgba(50, 91, 187, 0.251);
  border-radius:10px;
  padding:10px
}
.containerrr img{
  border:2px solid violet;
  height:40px;
  width:40px;
  border-radius:60px

}
.conta{

  padding:40px;
  height:400px
}
.containerrr{
  color:rgb(133, 174, 197);
 
}